[data-role="tagsinput"] {
    display: table-cell
}

.label-info {
    background: #6774ce;
    border-radius: 9px;
    direction: rtl;
    float: right;
    padding: 0 5px;
}

.bootstrap-tagsinput .tag [data-role="remove"] {
    float: left;
    margin: 4px;
    color: #bfbfbf;
    border-radius: 5px;
    height: 15px;
    width: 15px;
    text-align: center;
    position: relative;
}

.bootstrap-tagsinput .tag [data-role="remove"]:after {
    top: -3px;
    position: absolute;
    right: 2px;
}

.bootstrap-tagsinput {
    width: 100%;
}

.user-circle {
    height: 150px;
    border-radius: 50%;
    width: 150px;
}

.btn-alert {
    float: left;
    position: absolute;
    left: 3px;
    top: 3px;
}